[submodule "test1"]
	path = test1
	url = git://github.com/michalv/test1.git
[submodule "test2"]
	path = test2
	url = git://github.com/michalv/test2.git
[submodule "test3"]
	path = test3
	url = c:/Users/Valovic/Documents/GitHub/test3
