[submodule "test1"]
	path = test1
	url = git://github.com/michalv/test1.git
[submodule "test3"]
	path = test3
	url = git://github.com/michalv/test3.git

[submodule "testovaci"]
	path = testovaci
	url = git://github.com/michalv/testovaci.git
[submodule "lua"]
	path = lua
	url = git://github.com/michalv/lua.git
