[submodule "test1"]
	path = test1
	url = git://github.com/michalv/test1.git
[submodule "test3"]
	path = test3
	url = git://github.com/michalv/test3.git
[submodule "testovaci"]
	path = testovaci
	url = git://github.com/michalv/testovaci.git
[submodule "lua"]
	path = lua
	url = git://github.com/michalv/lua.git
[submodule "luafilesystem"]
	path = luafilesystem
	url = git://github.com/michalv/luafilesystem.git
[submodule "luasocket"]
	path = luasocket
	url = git://github.com/michalv/luasocket.git
[submodule "lut"]
	path = lut
	url = git://github.com/michalv/lut.git
[submodule "lub"]
	path = lub
	url = git://github.com/michalv/lub.git
[submodule "test4"]
	path = test4
	url = git://github.com/michalv/test4.git
[submodule "test5"]
	path = test5
	url = git://github.com/michalv/test5.git
[submodule "luadist-git"]
	path = luadist-git
	url = git://github.com/michalv/luadist-git.git
	branch = update-func
